$s-4: 0.125rem;
$s-3: 0.25rem;
$s-2: 0.5rem;
$s-1: 0.75rem;
$s0: 1rem;
$s1: 1.5rem;
$s2: 2rem;
$s3: 2.25rem;
$s4: 3rem;
$s5: 4rem;

$gray-1: #e8e8e8;
$gray-2: #919191;
$gray-3: #4f4f4f;

$breakpoint-xs: 375px;
$breakpoint-sm: 414px;
$breakpoint-md: 819px;