body {
	background-image: url(images/pond-crop.gif);
	background-size: cover;
	background-repeat: none;
	padding: 30px;
}

#main{
  margin: 0 auto;
 /* border: 5px solid rgba(0, 255, 0, .5);*/
 	border-radius: 800px;
 	border-collapse: collapse;
  background-image: url(images/pond-square.gif);
  background-size: 100%;
  background-repeat: none;
}

#main td{
  width: 18px;
  height: 18px;
  border: none;
}

td.dormant {
	background-image: none;
}

td.alive {
  background-image: url(images/rose-bit.gif);
  background-size: 100%;
}

td.dead {
  background-color: #ecf0f1;
  background-size: 100%;
  opacity: 50%;
}

#footer {
	height: 30px;
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
	display flex;
	z-index: 10;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
