body {
  background-image: url(images/pond-crop.gif);
	background-size: cover;
	background-repeat: none;
	padding: 30px;
}

/*#canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  border: 2px solid red;
  z-index: 4;
}*/

#pond {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  display: block;
  position: absolute;
  border-radius: 100%;
  z-index: -10;
}

#main{
  margin: 0 auto;
  position: relative;
  border-collapse: collapse;
  border-radius: 800px;
  background-image: url(images/pond-square.gif);
  background-size: cover;
  background-repeat: none;
  backface-visibility: none;
  z-index: 4;
}

#main td{
  width: 20px;
  height: 20px;
  border: none;
}

td.dormant {
	background-image: none;
}

td.alive {
  background-size: 100%;
  background-image: url(images/bloom-1.gif);
}

td.bloom1 {
  background-image: url(images/bloom-1.gif);
}

td.bloom2 {
  background-image: url(images/bloom-2.gif);
}

td.bloom3 {
  background-image: url(images/bloom-3.gif);
}

td.bloom4 {
  background-image: url(images/bloom-4.gif);
}

td.bloom5 {
  background-image: url(images/bloom-5.gif);
}

td.bloom6 {
  background-image: url(images/bloom-6.gif);
}

td.bloom7 {
  background-image: url(images/bloom-7.gif);
}

td.bloom8 {
  background-image: url(images/bloom-8.gif);
}

td.bloom9 {
  background-image: url(images/bloom-9.gif);
}

td.bloom10 {
  background-image: url(images/bloom-10.gif);
}

td.dead {
  background-color: #ecf0f1;
  /*background-color: black;*/
  /*background-image: url(images/fire.gif);*/
  /*background-color: none;*/
  background-size: 100%;
}

/*#footer {
	height: 30px;
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
	display flex;
	z-index: 10;
}*/

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
