body {
  background-image: url(images/pond-crop.gif);
	background-size: cover;
	background-repeat: none;
	padding: 30px;
}

#pond {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  display: block;
  position: absolute;
  border-radius: 100%;
  z-index: -10;
}

#main{
  margin: 0 auto;
  position: relative;
  border-collapse: collapse;
  border-radius: 800px;
  background-image: url(images/pond-square.gif);
  background-size: cover;
  background-repeat: none;
}

#main td{
  width: 30px;
  height: 30px;
  border: none;
}

td.dormant {
	background-image: none;
}

td.alive {
  /*background-image: url(images/bloom-2100ms.gif);*/
  background-size: 100%;
}

td.bloom1 {
  background-image: url(images/bloom-2100ms.gif);
}

td.bloom2 {
  background-image: url(images/bloom-2.gif);
  -webkit-animation-name: fadebloom;
  -webkit-animation-duration: 2.1s;
}

td.bloom3 {
  background-image: url(images/bloom-3.gif);
  -webkit-animation-name: fadebloom;
  -webkit-animation-duration: 2.1s;
}

td.bloom4 {
  background-image: url(images/bloom-4.gif);
  -webkit-animation-name: fadebloom;
  -webkit-animation-duration: 2.1s;
}

td.bloom5 {
  background-image: url(images/bloom-5.gif);
}

td.dead {
  background-image: url(images/fire-800ms.gif);
  background-size: 100%;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadebloom {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0.5
  }
  50% {
    opacity: 1
  }
  75% {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
