body {
  background-image: url(images/pond.gif);
  background-size: cover;
  font-family: 'Bellefair', serif;
  color: white;
  font-size: 28px;
}

.nav {
  position: absolute;
  margin-top: -10px;
  margin-left: 30px;
}

.buttons {
  display: inline;
}

.table {
  width: 682px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-collapse: collapse;
  border-radius: 800px;
  background-image: url(images/pond-square.gif);
  background-size: cover;
}

#main {
  border-radius: 800px;
}

/* links */

.about {
  font-size: 24px;
  margin-top: 30px;
  text-decoration: none;
}

.about a {
  text-decoration: none;
}

.about a:hover {
  cursor: help;
}

.about a:focus {
  text-decoration: none;
}

.about a:visited {
  text-decoration: none;
}

.title {
  text-decoration: none;
  color: white;
  padding-bottom: 20px;
}

.title:hover {
  cursor: help;
}

.title:visited {
  text-decoration: none;
  color: white;
}

/* buttons */

button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  margin: 1px;
  width: 50px;
  padding-top: 4px; 
  padding-bottom: 4px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

/* clear button */

#clear:active {
  color: transparent;
}

/* sound button */

.line-through {
  text-decoration: line-through;
}

/* table */

td {
  width: 32px;
  height: 32px;
  border: none;
}

/* cell state styling */

td.dormant {
	background-image: none;
}

td.alive {
  background-size: 100%;
}

td > img {
  width: 32;
}

/* td > span.bloom1 {
  background-image: url(images/bloom-1-1x.gif);
}

td.bloom2 {
  background-image: url(images/bloom-2-1x.gif);
  -webkit-animation-name: fadebloom;
  -webkit-animation-duration: 2.1s;
}

td.bloom3 {
  background-image: url(images/bloom-3-1x.gif);
  -webkit-animation-name: fadebloom;
  -webkit-animation-duration: 2.1s;
}

td.bloom4 {
  background-image: url(./images/bloom-4.gif);
  -webkit-animation-name: fadebloom;
  -webkit-animation-duration: 2.1s;
}

td.bloom5 {
  background-image: url(./images/bloom-5.gif);
} */

td.dead {
  background-image: url(./images/fire.gif);
  background-size: 100%;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.1s;
}

/* animations */

@-webkit-keyframes fadebloom {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0.5
  }
  50% {
    opacity: 1
  }
  75% {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

/* media queries */

@media (max-width: 900px) {
  .table {
    display: inline-flex;
    min-width: 650px;
  }
  .buttons {
    display: inline-flex;
  }
  button {
    height: 25px;
    margin-right: 10px;
    padding-top: -4px;
    padding-bottom: -4px;
  }
  .about {
    margin-top: 60px;
    margin-left: -180px;
  }
}

@media (max-width: 650px) {

  body {
    background-size: cover;
    background-repeat: none;
  }

  .table {
    background-image: none;
    background-color: transparent;
  }
}


